
$primary-blue-1: #38B2E6;;
$primary-blue-2: #0babba;
$primary-blue-3: #0e75ce;

$primary-blue-thick-1: #024b51;
$primary-blue-thick-2: #0d5f7c;
$primary-blue-thick-3: #00416d;

$primary-blue-pale: #576f9e;

$primary-red: #ed2b39;

$primary-bg-black: #1e1e1e;
$primary-background-color: #f0efdc;

$main-header: #293249; // #2c3a59; & used
$main-footer: #0e0e0e; // #e7e7e7; // #888889; & used
$main-footer-secondary: #2b2b2b;

$primary-border: #e7e7e7; //used

$primary-header-bottom-margin: 15px; //used
$section-standard-margin: 30px; //used
$section-secondary-margin: 15px; //used

$success-message: #42A948; //used
$warning-message: #D8000C; //#a94442; //used

$primary-theme:  #30487B; // #002F66; used
$secondary-theme: #0088cc; //used
$ternary-theme: #2d529f;//used
$primary-header-theme: #000; // #272872; used

$link-color-primary: #ff5800;
$primary-pick: #43a6a3;
$secondary-pick: #12b4f0;
$ternary-pick: #0f90d2;

$bg-color-pick: #277e7d;